<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.oc.admin.dao.AdminUserTrainDaoMapper" >

	<insert id="saveUserTrain" parameterType="com.codyy.oc.admin.entity.AdminUserTrain">
	
		INSERT INTO TRAIN(id,create_time,train_time,project,place,form,result,user_id,train_end_time)
		VALUES(#{id},#{createTime},#{trainTime},#{project},#{place},#{form},#{result},#{userId},#{trainEndTime})
	
	</insert>
	
	<update id="updateUserTrain" parameterType="com.codyy.oc.admin.entity.AdminUserTrain">
		UPDATE TRAIN SET train_time = #{trainTime},
				         project = #{project},
				         place = #{place},
				         form = #{form},
						 result = #{result},
						 train_end_time = #{trainEndTime}
						
		WHERE id = #{id}
	
	</update>
	
	<select id="getAdminUserTrainById" parameterType="java.lang.String" resultType="com.codyy.oc.admin.entity.AdminUserTrain">
		SELECT id,
			   create_time AS createTime,
			   train_time AS trainTime,
			   project,
			   place,
			   form,
			   result,
			   user_id AS userId,
			   train_end_time as trainEndTime
		
		FROM TRAIN
		
		WHERE id = #{_parameter}
	
	</select>
	
	<delete id="deleteUserTrain" parameterType="java.lang.String">
		DELETE FROM TRAIN WHERE id = #{id}
	</delete>
	
	<select id="getAllAdminUserTrain" parameterType="com.codyy.oc.admin.entity.AdminUserTrain"
									  resultType="com.codyy.oc.admin.entity.AdminUserTrain">
		SELECT id,
			   create_time AS createTime,
			   train_time AS trainTime,
			   project,
			   place,
			   form,
			   result,
			   user_id AS userId,
			   train_end_time as trainEndTime
		
		FROM TRAIN
		
		WHERE user_id = #{userId}
		
		ORDER BY create_time DESC
	
	</select>
	
	<select id="getAdminUserTrainPageList" parameterType="com.codyy.commons.page.Page"
									  resultType="com.codyy.oc.admin.entity.AdminUserTrain">
		SELECT id,
			   create_time AS createTime,
			   train_time AS trainTime,
			   project,
			   place,
			   form,
			   result,
			   user_id AS userId,
			   train_end_time as trainEndTime
		
		FROM TRAIN
		
		WHERE user_id = #{map.userId}
		
			<if test="map.startDate != null and map.startDate !=''">
				AND train_time <![CDATA[ >= ]]> #{map.startDate}
			</if>
			
			<if test="map.endDate != null and  map.endDate != ''">
				AND train_time <![CDATA[ <= ]]> #{map.endDate}
			</if>
			
			<if test="map.project != null and  map.project != ''">
				AND project like concat('%',#{map.project,jdbcType=VARCHAR},'%') 
			</if>
		
		ORDER BY train_time DESC
	
	</select>
	
</mapper>