<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.oc.admin.dao.CostDaoMapper" >

	<select id="getCostSubTypeList" parameterType="int" resultType="com.codyy.oc.admin.entity.CostSubTypeBean">
		
		SELECT cost_subtype_id AS costSubTypeId,cost_type AS costType,name as name
		FROM COST_SUBTYPE
		WHERE 1=1
		<if test="_parameter == 0 || _parameter ==1">
			AND cost_type = #{_parameter}
		</if>
		ORDER BY cost_subtype_id
	
	</select>
	
	<select id="getCostSubTypeStrList" parameterType="int" resultType="java.lang.String">
		
		SELECT name
		FROM COST_SUBTYPE
		WHERE 1=1
		<if test="_parameter == 0 || _parameter ==1">
			AND cost_type = #{_parameter}
		</if>
		ORDER BY cost_subtype_id
	
	</select>
	
	<insert id="insertCostEntity" parameterType="com.codyy.oc.admin.entity.CostEntityBean" >
		INSERT INTO COST_DETAIL
			(
				cost_id,
				create_time,
				cost_time,
				create_user_id,
				cost_type,
				cost_class,
				cost_subtype_id,
				cost_num,
				dep_id,
				remark,
				status,
				cost_no,
				contract_id,
				project_id	,
				travel_id
			)
		VALUES
			(
				#{costId},
				#{createTime},
				#{costTime},
				#{createUserId},
				#{costType},
				#{costClass},
				#{costSubtypeId},
				#{costNum},
				#{depId},
				#{remark},
				#{status},
				#{costNo},
				#{contractId},
				#{projectId},
				#{travelId}
			)
	</insert>
	
	<insert id="insertCostDepEntity" parameterType="com.codyy.oc.admin.entity.CostDepEntityBean" >
		INSERT INTO COST_DEP_DETAIL
			(
				cost_id,
				cost_dep,
				cost_year,
				cost_month,
				cost_date,
				cost_num
			
			)
		VALUES
			(
				#{costId},
				#{costDep},
				#{costYear},
				#{costMonth},
				#{costDate},
				#{costNum}
				
			)
	</insert>
	
	
	<!-- 更新成本表 -->
	<update id="updateCostDepEntity" parameterType="com.codyy.oc.admin.entity.CostDepEntityBean">
		UPDATE COST_DEP_DETAIL
		SET
			cost_year = #{costYear},
			cost_month = #{costMonth},
			cost_date = #{costDate},
			cost_num = #{costNum}
		WHERE cost_id = #{costId}
		AND cost_dep = #{costDep}
	</update>
	
		<!-- 更新成本表 -->
	<update id="updateCostEntity" parameterType="com.codyy.oc.admin.entity.CostEntityBean">
		UPDATE COST_DETAIL
		SET
			cost_time = #{costTime},
			cost_type = #{costType},
			cost_subtype_id = #{costSubtypeId},
			cost_num = #{costNum},
			remark = #{remark},
			status = #{status},
			contract_id = #{contractId},
			project_id = #{projectId}
		WHERE cost_id = #{costId}
	</update>
	
	<!-- 更新成本状态 -->
	<update id="updateCostStatus" parameterType="com.codyy.oc.admin.entity.CostEntityBean">
		UPDATE COST_DETAIL SET status = #{status}
		<if test="auditUser != null and auditUser != ''">
			,audit_user = #{auditUser}
		</if>
		,cost_time = now()
		WHERE cost_id = #{costId}
	</update>
	
	<!-- 取番 -->
	<select id="getCostNoSeq" parameterType="java.lang.String" resultType="com.codyy.oc.admin.entity.CostSeqBean" >
		SELECT
			type,date,seq
		FROM COST_SEQ
	 	WHERE Type = #{_parameter}
	</select>

	<update id="updateCostNoSeq" parameterType="com.codyy.oc.admin.entity.CostSeqBean">
		UPDATE
			COST_SEQ
		SET 
			date = #{date},
			seq = #{seq}
		WHERE type = #{type}
	</update>
	
	<update id="insertCostNoSeq" parameterType="com.codyy.oc.admin.entity.CostSeqBean">
		INSERT INTO COST_SEQ
			(
				type,
				date,
				seq
			)
		VALUES
			(
				#{type},
				#{date},
				#{seq}
			)
	</update>
	
	
	<select id="getCostEntityById" parameterType="java.lang.String" resultType="com.codyy.oc.admin.entity.CostEntityBean">
		SELECT
			cost_id AS costId,
			create_time AS createTime,
			cost_time AS costTime,
			create_user_id AS createUserId,
			cost_type AS costType, 
			cost_subtype_id AS costSubtypeId,
			cost_num AS costNum,
			dep_id AS depId,
			remark AS remark
		FROM COST_DETAIL
	 	WHERE cost_id = #{_parameter}
	</select>
	
	<!-- 查询月度信息 -->
	<select id="getMonthList" resultType="java.lang.String">
		SELECT distinct
			DATE_FORMAT(cost_time,'%Y-%m') AS month
		FROM COST_DETAIL
	</select>
	
	<!-- 根据costID取成本部门划分信息 -->
	<select id="getCostDepList" parameterType="java.lang.String" resultType="com.codyy.oc.admin.entity.CostDepEntityBean">
		SELECT
			a.cost_id AS costId,
			a.cost_dep AS costDep,
			b.name AS costDepName,
			a.cost_year AS costYear,
			a.cost_month AS costMonth,
			a.cost_date AS costDate, 
			a.cost_num AS costNum
		FROM COST_DEP_DETAIL a
		LEFT JOIN DEPARTMENT b on a.cost_dep = b.dep_id
	 	WHERE cost_id = #{_parameter}
	 	order by b.order,b.name
	</select>
	
	<delete id="delCostEntityById" parameterType="java.lang.String">
	
		DELETE FROM COST_DETAIL WHERE cost_id = #{_parameter}
		
	</delete>
	
	<!-- 申请列表 -->
	<select id="getCostPageList" parameterType="com.codyy.commons.page.Page" resultType="com.codyy.oc.admin.vo.CostVO">
		SELECT
			dep.`name` AS depName,
			costSub.`name` AS costSubName,
			costDetail.cost_id AS costId,
			costDetail.cost_num AS costNum,
			costDetail.cost_time AS costTime,
			costDetail.cost_type AS costType,
			costDetail.cost_subtype_id AS costSubtypeId,
			costDetail.cost_class as costClass,
			costDetail.create_time AS createTime,
			costDetail.remark as remark,
			costDetail.cost_no as costNo,
			costDetail.status,
			code.content as statusName,
			'view' as editMode,
			costDetail.contract_id as contractId,
			contract.content as contractContent,
			costDetail.project_id as projectId,
			project.name as projectName
		FROM
			COST_DETAIL costDetail
		LEFT JOIN COST_SUBTYPE costSub ON costDetail.cost_subtype_id = costSub.cost_subtype_id
		LEFT JOIN DEPARTMENT dep ON costDetail.dep_id = dep.dep_id
		LEFT JOIN CODE_CONTENT code on costDetail.status = code.id and codeName = 'CodeStatus'
		LEFT JOIN CONTRACT contract on costDetail.contract_id = contract.contract_id
		LEFT JOIN project on costDetail.project_id = project.pj_no
		where 1=1 
			
			<if test="map.costType != null and  map.costType != ''">
				AND costDetail.cost_type = #{map.costType}
			</if>
			<if test="map.costSubtypeId != null and  map.costSubtypeId != ''">
				AND costDetail.cost_subtype_id = #{map.costSubtypeId}
			</if>
			
			<if test="map.costNo != null and  map.costNo != ''">
				AND costDetail.cost_no like '%${map.costNo}%'
			</if>
			
			<if test="map.remark != null and  map.remark != ''">
				AND costDetail.remark like '%${map.remark}%'
			</if>
			
			<if test="map.userId != null and  map.userId != ''">
				AND costDetail.create_user_id = #{map.userId}
			</if>
			
			<if test="map.startTime != null and map.startTime !=''">
				AND costDetail.cost_time <![CDATA[ >= ]]> #{map.startTime}
			</if>
			
			<if test="map.endTime != null and map.endTime != ''">
				AND costDetail.cost_time <![CDATA[ <= ]]> #{map.endTime}
			</if>
		
		ORDER BY costDetail.create_time DESC
	
	</select>
	
	<!-- 审批列表 -->
	<select id="getCostAuditPageList" parameterType="com.codyy.commons.page.Page" resultType="com.codyy.oc.admin.vo.CostVO">
		SELECT
			dep.`name` AS depName,
			costSub.`name` AS costSubName,
			costDetail.cost_id AS costId,
			costDetail.cost_num AS costNum,
			costDetail.cost_time AS costTime,
			costDetail.cost_type AS costType,
			costDetail.cost_subtype_id AS costSubtypeId,
			costDetail.cost_class as costClass,
			costDetail.create_time AS createTime,
			costDetail.remark as remark,
			costDetail.cost_no as costNo,
			costDetail.status,
			costDetail.audit_user as auditUser,
			audit.realname AS auditUserName,
			costDetail.create_user_id AS subUser,
			subUser.realname as subUserName,
			code.content as statusName,
			'view' as editMode,
			costDetail.contract_id as contractId,
			contract.content as contractContent,
			costDetail.project_id as projectId,
			project.name as projectName
		FROM
			COST_DETAIL costDetail
		LEFT JOIN COST_SUBTYPE costSub ON costDetail.cost_subtype_id = costSub.cost_subtype_id
		LEFT JOIN DEPARTMENT dep ON costDetail.dep_id = dep.dep_id
		LEFT JOIN CODE_CONTENT code on costDetail.status = code.id and codeName = 'CodeStatus'
		LEFT JOIN ADMIN_USER audit on costDetail.audit_user = audit.user_id
		LEFT JOIN ADMIN_USER subUser on costDetail.create_user_id = subUser.user_id
		LEFT JOIN CONTRACT contract on costDetail.contract_id = contract.contract_id
		LEFT JOIN project on costDetail.project_id = project.pj_no
		where 1=1 
			
			<if test="map.costType != null and  map.costType != ''">
				AND costDetail.cost_type = #{map.costType}
			</if>
			<if test="map.costSubtypeId != null and  map.costSubtypeId != ''">
				AND costDetail.cost_subtype_id = #{map.costSubtypeId}
			</if>
			<if test="map.costNo != null and  map.costNo != ''">
				AND costDetail.cost_no like '%${map.costNo}%'
			</if>
			
			<if test="map.remark != null and  map.remark != ''">
				AND costDetail.remark like '%${map.remark}%'
			</if>
			
			<!-- 管理员时 条件设定为部门领导审核通过的 -->
			<if test="map.userId == 'admin' and map.auditStatus == null">
				AND (costDetail.status in ('03','04','05'))
			</if>
			<if test="map.userId == 'admin' and map.auditStatus == 0">
				AND (costDetail.status = '03')
			</if>
			<if test="map.userId == 'admin' and map.auditStatus == 1">
				AND (costDetail.status = '05')
			</if>
			
			
			<if test="map.userId != 'admin' and map.auditStatus == null ">
				AND costDetail.dep_id = #{map.depId}
				AND (costDetail.status in ('01','02','03','04','05'))
			</if>
			
			<if test="map.userId != 'admin' and map.auditStatus == 0 ">
				AND costDetail.dep_id = #{map.depId}
				AND (costDetail.status in ('01','04'))
			</if>
			
			<if test="map.userId != 'admin' and map.auditStatus == 1 ">
				AND costDetail.dep_id = #{map.depId}
				AND (costDetail.status in ('03','02','05'))
			</if>
			
			<if test="map.startTime != null and map.startTime !=''">
				AND costDetail.cost_time <![CDATA[ >= ]]> #{map.startTime}
			</if>
			
			<if test="map.endTime != null and map.endTime != ''">
				AND costDetail.cost_time <![CDATA[ <= ]]> #{map.endTime}
			</if>
		ORDER BY costDetail.create_time DESC
	
	</select>
	
	<sql id="contract_Column_List">
		 contract.id                 as 'contract.id'
		,contract.contract_id        as 'contract.contractId'
		,contract.type               as 'contract.type'
		,contract.content            as 'contract.content'
		,contract.dept               as 'contract.dept'
		,contract.cost               as 'contract.cost'
		,contract.company            as 'contract.company'
		,contract.url                as 'contract.url'
		,contract.serialid           as 'contract.serialid'
		,contract.status             as 'contract.status'
		,contract.create_time        as 'contract.createTime'
		,contract.cost_time          as 'contract.costTime'
		,contract.create_user_id     as 'contract.createUserId'
		,contract.remakes            as 'contract.remakes'
	</sql>
	<sql id="payment_Column_List">
		 ,payment.id          as 'contract.payment.id'
		 ,payment.name        as 'contract.payment.name'
		 ,payment.tax_no      as 'contract.payment.taxNo'
		 ,payment.bank_no     as 'contract.payment.bankNo'
		 ,payment.bank_name   as 'contract.payment.bankName'
		 ,payment.create_time as 'contract.payment.createTime'
		 ,payment.create_user as 'contract.payment.createUser'
	</sql>
	
	<!-- 成本查看列表 -->
	<select id="getCostViewPageList" parameterType="com.codyy.commons.page.Page" resultType="com.codyy.oc.admin.vo.CostVO">
		SELECT
			dep.`name` AS depName,
			costSub.`name` AS costSubName,
			costDetail.cost_id AS costId,
			costDetail.cost_num AS costNum,
			costDetail.cost_time AS costTime,
			costDetail.cost_type AS costType,
			costDetail.cost_subtype_id AS costSubtypeId,
			costDetail.cost_class as costClass,
			costDetail.create_time AS createTime,
			costDetail.remark as remark,
			costDetail.cost_no as costNo,
			costDetail.status,
			costDetail.audit_user as auditUser,
			audit.realname AS auditUserName,
			costDetail.create_user_id AS subUser,
			subUser.realname as subUserName,
			code.content as statusName,
			'view' as editMode,
			costDetail.contract_id as contractId,
			contract.content as contractContent,
			costDetail.project_id as projectId,
			project.name as projectName,
			<include refid="contract_Column_List" />
			<include refid="payment_Column_List" />
		FROM
			COST_DETAIL costDetail
		LEFT JOIN COST_SUBTYPE costSub ON costDetail.cost_subtype_id = costSub.cost_subtype_id
		LEFT JOIN DEPARTMENT dep ON costDetail.dep_id = dep.dep_id
		LEFT JOIN CODE_CONTENT code on costDetail.status = code.id and codeName = 'CodeStatus'
		LEFT JOIN ADMIN_USER audit on costDetail.audit_user = audit.user_id
		LEFT JOIN ADMIN_USER subUser on costDetail.create_user_id = subUser.user_id
		LEFT JOIN CONTRACT contract on costDetail.contract_id = contract.contract_id
		LEFT JOIN payment on contract.company = payment.id
		LEFT JOIN project on costDetail.project_id = project.pj_no
		WHERE costDetail.status = '05'
			
			<if test="map.costType != null and  map.costType != ''">
				AND costDetail.cost_type = #{map.costType}
			</if>
			<if test="map.costSubtypeId != null and  map.costSubtypeId != ''">
				AND costDetail.cost_subtype_id = #{map.costSubtypeId}
			</if>
			<if test="map.costNo != null and  map.costNo != ''">
				AND costDetail.cost_no like '%${map.costNo}%'
			</if>
			
			<if test="map.remark != null and  map.remark != ''">
				AND costDetail.remark like '%${map.remark}%'
			</if>
			
			<if test="map.searchMonth != null and  map.searchMonth != ''">
				AND DATE_FORMAT(costDetail.cost_time,'%Y-%m') = '${map.searchMonth}'
			</if>
			
		<!-- 	<if test="map.userId != 'admin'">
				AND costDetail.dep_id = #{map.depId}
			</if> -->
			
			AND ( costDetail.create_user_id = #{map.userId}
			
				<if test="map.userPostion == 'ADMIN'">
					or 1 = 1
				</if>
				<if test="map.userPostion == 'MANAGER'">
					or costDetail.dep_id = #{map.depId}
				</if>
			
			)
			
			<if test="map.startTime != null and map.startTime !=''">
				AND costDetail.cost_time <![CDATA[ >= ]]> #{map.startTime}
			</if>
			
			<if test="map.endTime != null and map.endTime != ''">
				AND costDetail.cost_time <![CDATA[ <= ]]> #{map.endTime}
			</if>
		
		<!-- ORDER BY costDetail.create_time DESC -->
		ORDER BY costDetail.cost_time DESC
	
	</select>
	
		<!-- 成本查看列表 -->
	<select id="getViewChart" parameterType="java.util.Map" resultType="com.codyy.oc.admin.entity.CostEntityBean">
		SELECT
			cost_type costType
			,sum(cost_num) costNum 
		FROM
			COST_DETAIL costDetail
		WHERE costDetail.status = '05'
			
			<if test="costType != null and costType != ''">
				AND costDetail.cost_type = #{costType}
			</if>
			<if test="costSubtypeId != null and costSubtypeId != ''">
				AND costDetail.cost_subtype_id = #{costSubtypeId}
			</if>
			<if test="costNo != null and  costNo != ''">
				AND costDetail.cost_no like '%${costNo}%'
			</if>
			
			<if test="remark != null and  remark != ''">
				AND costDetail.remark like '%${remark}%'
			</if>
			
			<if test="startTime != null and startTime !=''">
				AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			</if>
			
			<if test="endTime != null and endTime != ''">
				AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			</if>
		
		group BY cost_type
	</select>
	
	<select id="getCostOutlayType" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT costSubtype.name,DATE_FORMAT(costDetail.cost_time,'%m') month,sum(costDetail.cost_num) AS total
		FROM COST_DETAIL costDetail,COST_SUBTYPE costSubtype  
		WHERE costDetail.cost_type = #{costType} 
			  AND costDetail.cost_subtype_id = costSubtype.cost_subtype_id
			
			<if test="depId !=null ">
				
				AND costDetail.dep_id = #{depId}
				
			</if>
			
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
			group by month,costDetail.cost_subtype_id 
			order by month,costDetail.cost_subtype_id
	
	</select>
	
	<select id="getCostDepartIncomeType" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT depart.name,DATE_FORMAT(costDetail.cost_time,'%m') month,sum(costDetail.cost_num) AS total 
		FROM COST_DETAIL costDetail, DEPARTMENT as depart
		WHERE costDetail.cost_type = #{costType}
		
			AND costDetail.dep_id = depart.dep_id
		
			<if test="depId !=null ">
				AND costDetail.dep_id = #{depId}
			</if>
			
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
			group by month,costDetail.dep_id 
			order by depart.name
	
	</select>
	
	<select id="getCostInOutType" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT sum(costDetail.cost_num) AS total 
		FROM COST_DETAIL costDetail
		WHERE costDetail.cost_type = #{costType}
		
			<if test="depId !=null ">
				AND costDetail.dep_id = #{depId}
			</if>
			
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
	</select>
	
	<select id="getCostDepartInOutcome" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT depart.name,DATE_FORMAT(costDetail.cost_time,'%m') 'month',costDetail.cost_type AS `type`,SUM(costDetail.cost_num) AS total 
		FROM COST_DETAIL costDetail, DEPARTMENT AS depart
		WHERE costDetail.dep_id = depart.dep_id
			<if test="depId !=null ">
				AND costDetail.dep_id = #{depId}
			</if>		
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
			GROUP BY costDetail.cost_type,MONTH,costDetail.dep_id 
			ORDER BY depart.name,MONTH,costDetail.cost_type
	
	</select>
	
	<select id="getCostVOList" parameterType="java.util.Map" resultType="com.codyy.oc.admin.vo.CostChartVO">
		SELECT 
				a.cost_dep AS depId,
				c.name AS depName,
				sum(a.cost_num) AS costNum,
				b.cost_type AS costType,
				a.cost_month AS costMonth
		FROM COST_DEP_DETAIL a
		INNER JOIN COST_DETAIL b
		ON a.cost_id = b.cost_id
		INNER JOIN DEPARTMENT c
		ON a.cost_dep = c.dep_id
		WHERE 1=1
			<if test="depId !=null and depId!=''">
				AND a.cost_dep = #{depId}
			</if>
			AND b.cost_type = #{costType}
			AND a.cost_year = #{curYear}
			AND a.cost_num > 0
		GROUP BY a.cost_dep,a.cost_month,c.name
		ORDER BY a.cost_dep,a.cost_month
	</select>
	
	<select id="getCostChart" parameterType="java.util.Map" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT 
			a.cost_month as month,
			b.cost_subtype_id as costSubId,
			c.name as costSubName,
			sum(a.cost_num) as costNum
		FROM COST_DEP_DETAIL a
		INNER JOIN COST_DETAIL b
		ON a.cost_id = b.cost_id
		LEFT JOIN COST_SUBTYPE c
		ON b.cost_subtype_id = c.cost_subtype_id
		WHERE 1=1
		<if test="depId !=null and depId!=''">
			AND a.cost_dep = #{depId}
		</if>
		
		<if test="depIds !=null and depIds!=''">
			AND a.cost_dep in (${depIds})
		</if>
		AND b.cost_type = #{costType}
		AND a.cost_year = #{year}
		AND a.cost_month = #{month}
		AND a.cost_num > 0
		AND b.status <![CDATA[ <> ]]> '99'
		group by a.cost_month,b.cost_subtype_id,c.name
		order by a.cost_month,b.cost_subtype_id

	</select>
	
</mapper>