<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.oc.admin.dao.CostDaoMapper" >

	<select id="getCostSubTypeList" parameterType="int" resultType="com.codyy.oc.admin.entity.CostSubTypeBean">
		
		SELECT cost_subtype_id AS costSubTypeId,cost_type AS costType,name as name
		FROM COST_SUBTYPE
		WHERE 1=1
		<if test="_parameter == 0 || _parameter ==1">
			AND cost_type = #{_parameter}
		</if>
	
	</select>
	
	<insert id="insertCostEntity" parameterType="com.codyy.oc.admin.entity.CostEntityBean" >
		INSERT INTO COST_DETAIL(cost_id,
								create_time,
								cost_time,
								create_user_id,
								cost_type,
								cost_subtype_id,
								cost_num,
								dep_id
								)
		VALUES(
				#costId,
				#createTime,
				#costTime,
				#createUserId,
				#costType,
				#costSubtypeId,
				#costNum,
				#depId
			)
	
	</insert>
	
	<update id="updateCostEntity" parameterType="com.codyy.oc.admin.entity.CostEntityBean">
		UPDATE COST_DETAIL SET cost_time = #{costTime},
							   create_user_id = #{createUserId},
							   cost_type = #{costType},
							   cost_subtype_id = #{costSubtypeId},
							   cost_num = #{cost_num},
							   dep_id = #{depId}
		
		WHERE cost_id = #{costId}
	
	</update>
	
	<delete id="delCostEntityById" parameterType="java.lang.String">
	
		DELETE FROM COST_DETAIL WHERE cost_id = #{_parameter}
		
	</delete>
	
	<select id="getCostPageList" parameterType="com.codyy.commons.page.Page" resultType="com.codyy.oc.admin.vo.CostVO">
		SELECT dep.`name` AS depName,
				costSub.`name` AS costSubName,
				costDetail.cost_id AS costId,
				costDetail.cost_num AS costNum,
				costDetail.cost_time AS costTime,
				costDetail.cost_type AS costType,
				costDetail.create_time AS createTime
				
		FROM COST_DETAIL costDetail,COST_SUBTYPE costSub,DEPARTMENT dep
		WHERE costDetail.cost_subtype_id = costSub.cost_subtype_id
			  AND costDetail.dep_id = dep.dep_id
			  
			<if test="map.depId != null and map.depId !=''">
				AND costDetail.dep_id = #{map.depId}
			</if>
			
			<if test="map.costType != -1 ">
				AND costDetail.cost_type = #{map.costType}
			</if>
			
			<if test="map.costSubtypeId != null and map.costSubtypeId !=''">
				AND costDetail.cost_subtype_id = #{map.costSubtypeId}
			</if>
			
			<if test="map.startTime != null and map.startTime !=''">
				AND costDetail.cost_time <![CDATA[ >= ]]> #{map.startTime}
			</if>
			
			<if test="map.endTime != null and map.endTime != ''">
				AND costDetail.cost_time <![CDATA[ <= ]]> #{map.endTime}
			</if>
		
		ORDER BY costDetail.cost_id DESC
	
	</select>
	
	<select id="getCostOutlayType" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT costSubtype.name,DATE_FORMAT(costDetail.cost_time,'%m') month,sum(costDetail.cost_num) AS total
		FROM COST_DETAIL costDetail,COST_SUBTYPE costSubtype  
		WHERE costDetail.cost_type = #{costType} 
			  AND costDetail.cost_subtype_id = costSubtype.cost_subtype_id
			
			<if test="depId !=null ">
				
				AND costDetail.dep_id = #{depId}
				
			</if>
			
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
			group by month,costDetail.cost_subtype_id 
			order by month,costDetail.cost_subtype_id
	
	</select>
	
	<select id="getCostDepartIncomeType" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT depart.name,DATE_FORMAT(costDetail.cost_time,'%m') month,sum(costDetail.cost_num) AS total 
		FROM COST_DETAIL costDetail, DEPARTMENT as depart
		WHERE costDetail.cost_type = #{costType}
		
			AND costDetail.dep_id = depart.dep_id
		
			<if test="depId !=null ">
				AND costDetail.dep_id = #{depId}
			</if>
			
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
			group by month,costDetail.dep_id 
			order by month,costDetail.dep_id; 
	
	</select>
	
	<select id="getCostInOutType" parameterType="com.codyy.oc.admin.vo.CostVO" resultType="com.codyy.oc.admin.vo.CostMonthInOut">
		SELECT sum(costDetail.cost_num) AS total 
		FROM COST_DETAIL costDetail
		WHERE costDetail.cost_type = #{costType}
		
			<if test="depId !=null ">
				AND costDetail.dep_id = #{depId}
			</if>
			
			AND costDetail.cost_time <![CDATA[ >= ]]> #{startTime}
			
			AND costDetail.cost_time <![CDATA[ <= ]]> #{endTime}
			
	</select>
	
</mapper>