<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codyy.oc.admin.dao.PositionMapper">
  <resultMap id="BaseResultMap" type="com.codyy.oc.admin.entity.Position">
    <id column="post_id" jdbcType="VARCHAR" property="postId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dep_id" jdbcType="VARCHAR" property="depId" />
    <result column="on_duty" jdbcType="VARCHAR" property="onDuty" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="vacancy" jdbcType="VARCHAR" property="vacancy" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="depname" jdbcType="VARCHAR" property="depName" />
    <result column="createusername" jdbcType="VARCHAR" property="createUserName" />
     <result column="recruit_a" jdbcType="LONGVARCHAR" property="recruitA" />
    <result column="recruit_b" jdbcType="LONGVARCHAR" property="recruitB" />
    <result column="recruit_c" jdbcType="LONGVARCHAR" property="recruitC" />
    <result column="recruit_d" jdbcType="LONGVARCHAR" property="recruitD" />
    <result column="recruit_e" jdbcType="LONGVARCHAR" property="recruitE" />
    <result column="recruit_f" jdbcType="LONGVARCHAR" property="recruitF" />
    <result column="salary_scale" jdbcType="VARCHAR" property="salaryScale" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="education_remark" jdbcType="LONGVARCHAR" property="educationRemark" />
    <result column="professional" jdbcType="LONGVARCHAR" property="professional" />
  </resultMap>
  <sql id="Base_Column_List">
    post_id, name, dep_id, (SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = post_id ) AS on_duty, organization, (organization-(SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = post_id )) AS vacancy, remark, status,create_user,create_time,recruit_a, recruit_b, recruit_c, recruit_d, recruit_e, recruit_f,salary_scale
    ,education, education_remark, professional
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    p.post_id, p.name, p.dep_id, (SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = p.post_id ) AS on_duty, p.organization, (p.organization-(SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = p.post_id )) AS vacancy, p.remark, p.status,p.create_user,p.create_time,p.recruit_a, recruit_b, 
    p.recruit_c, p.recruit_d, p.recruit_e, p.recruit_f,salary_scale
    ,p.education, p.education_remark, p.professional
    from POSITION p
    where post_id = #{postId,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByDepId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from POSITION
    where dep_id = #{depId,jdbcType=VARCHAR} and status='audited'
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from POSITION
    where post_id = #{postId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.codyy.oc.admin.entity.Position">
    insert into POSITION (post_id, name, dep_id, 
      on_duty, organization, vacancy, 
      remark, status,create_user,create_time,recruit_a, recruit_b, recruit_c, recruit_d, recruit_e, recruit_f,salary_scale,education, education_remark, professional)
    values (#{postId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{depId,jdbcType=VARCHAR}, 
      #{onDuty,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, #{vacancy,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},#{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},#{recruitA,jdbcType=VARCHAR}, #{recruitB,jdbcType=VARCHAR}, #{recruitC,jdbcType=VARCHAR},
       #{recruitD,jdbcType=VARCHAR}, #{recruitE,jdbcType=VARCHAR}, #{recruitF,jdbcType=VARCHAR},#{salaryScale,jdbcType=VARCHAR},#{education,jdbcType=VARCHAR},#{educationRemark,jdbcType=LONGVARCHAR}, #{professional,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codyy.oc.admin.entity.Position">
    insert into POSITION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null and postId != ''">
        post_id,
      </if>
      <if test="name != null and name != ''" >
        name,
      </if>
      <if test="depId != null and depId != ''">
        dep_id,
      </if>
      <if test="onDuty != null and onDuty != ''">
        on_duty,
      </if>
      <if test="organization != null and organization != ''">
        organization,
      </if>
      <if test="vacancy != null and vacancy != ''">
        vacancy,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
      <if test="status != null and status != ''">
        status,
      </if>
      <if test="createUser != null and createUser != ''">
        create_user,
      </if>
      <if test="createTime != null and createTime != ''">
        create_time,
      </if>
      <if test="recruitA != null and recruitA!='' ">
        recruit_a,
      </if>
      <if test="recruitB != null and recruitB!='' ">
        recruit_b,
      </if>
      <if test="recruitC != null  and recruitC!='' ">
        recruit_c,
      </if>
      <if test="recruitD != null and recruitD!='' ">
        recruit_d,
      </if>
      <if test="recruitE != null and recruitE!='' ">
        recruit_e,
      </if>
      <if test="recruitF != null and recruitF!='' ">
        recruit_f,
      </if>
        <if test="salaryScale != null and salaryScale!='' ">
        salary_scale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postId != null and postId != ''">
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="depId != null and depId != ''">
        #{depId,jdbcType=VARCHAR},
      </if>
      <if test="onDuty != null and onDuty != ''">
        #{onDuty,jdbcType=VARCHAR},
      </if>
      <if test="organization != null and organization != ''">
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="vacancy != null and vacancy != ''">
        #{vacancy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null and createUser != ''">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != ''">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
            <if test="recruitA != null and recruitA!='' ">
        #{recruitA,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitB != null and recruitB!='' ">
        #{recruitB,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitC != null and recruitC!='' ">
        #{recruitC,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitD != null and recruitD!='' ">
        #{recruitD,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitE != null and recruitE!='' ">
        #{recruitE,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitF != null and recruitF!='' ">
        #{recruitF,jdbcType=LONGVARCHAR},
      </if>
       <if test="salaryScale != null and salaryScale!='' ">
        #{salary_scale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codyy.oc.admin.entity.Position">
    update POSITION
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="depId != null and depId != ''">
        dep_id = #{depId,jdbcType=VARCHAR},
      </if>
      <if test="onDuty != null and onDuty != ''">
        on_duty = #{onDuty,jdbcType=VARCHAR},
      </if>
      <if test="organization != null and organization != ''">
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="vacancy != null and vacancy != ''">
        vacancy = #{vacancy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        status = #{status,jdbcType=VARCHAR},
      </if>
       <if test="createUser != null and createUser != ''">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != ''">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
       <if test="recruitA != null and recruitA!='' ">
        recruit_a = #{recruitA,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitB != null and recruitB!='' ">
        recruit_b = #{recruitB,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitC != null  and recruitC!='' ">
        recruit_c = #{recruitC,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitD != null and recruitD!='' ">
        recruit_d = #{recruitD,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitE != null and recruitE!='' ">
        recruit_e = #{recruitE,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitF != null and recruitF!='' ">
        recruit_f = #{recruitF,jdbcType=LONGVARCHAR},
      </if>
        <if test="salaryScale != null and salaryScale!='' ">
        salary_scale = #{salaryScale,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="educationRemark != null">
        education_remark = #{educationRemark,jdbcType=LONGVARCHAR},
      </if>
      <if test="professional != null">
        professional = #{professional,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codyy.oc.admin.entity.Position">
    update POSITION
    set name = #{name,jdbcType=VARCHAR},
      dep_id = #{depId,jdbcType=VARCHAR},
      on_duty = #{onDuty,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      vacancy = #{vacancy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
      create_user = #{createUser,jdbcType=VARCHAR}
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
  
  <select id="getPositionPageList" parameterType="com.codyy.commons.page.Page" resultMap="BaseResultMap">
  	select 
    p.post_id,
    p.name, 
    p.dep_id,
    (SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = p.post_id ) AS on_duty,
    p.organization,
    (p.organization-(SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = p.post_id )) AS vacancy, 
    p.remark,
    p.status,
    p.create_user,
    p.create_time,
    d.name as depname,
    au.username as createusername
    from POSITION p
    left join DEPARTMENT d
     on d.dep_id = p.dep_id
    left join ADMIN_USER au
    on au.user_id = p.create_user	
    where 1=1
    
    <if test="map.createUser != null and map.createUser != ''">
	    and p.create_user = #{map.createUser,jdbcType=VARCHAR}
	</if>
  	<if test="map.name != null and map.name != '' ">
  		and p.name like   concat('%',#{map.name,jdbcType=VARCHAR},'%') 
  	</if>
    <if test="map.depId != null and map.depId != '' ">
    	and p.dep_id = #{map.depId,jdbcType=VARCHAR}
    </if>
    <if test="map.status != null and map.status != '' ">
    	and p.status = #{map.status,jdbcType=VARCHAR}
    </if>
    <if test="map.onlykq != null and map.onlykq != '' ">
    	and (p.organization-(SELECT count( * ) FROM ADMIN_USER au WHERE au.post_id = p.post_id )) > 0
    </if>
    
    order by d.name asc, create_time desc
  </select>
</mapper>