<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codyy.oc.admin.dao.PositionAuditMapper">
  <resultMap id="BaseResultMap" type="com.codyy.oc.admin.entity.PositionAudit">
    <id column="position_audit_id" jdbcType="VARCHAR" property="positionAuditId" />
    <result column="position_id" jdbcType="VARCHAR" property="positionId" />
    <result column="audit_user_id" jdbcType="VARCHAR" property="auditUserId" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    
    <result column="postName" jdbcType="VARCHAR" property="postName" />
    <result column="depName" jdbcType="VARCHAR" property="depName" />
    <result column="createUserName" jdbcType="VARCHAR" property="createUserName" />
    <result column="auditUserName" jdbcType="VARCHAR" property="auditUserName" />
    <result column="postResult" jdbcType="VARCHAR" property="postResult" />
    
  </resultMap>
  <sql id="Base_Column_List">
    position_audit_id, position_id, audit_user_id, create_user_id, result, audit_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from POSITION_AUDIT
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from POSITION_AUDIT
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    insert into POSITION_AUDIT (position_audit_id, position_id, audit_user_id, 
      create_user_id, result, audit_time, 
      create_time)
    values (#{positionAuditId,jdbcType=VARCHAR}, #{positionId,jdbcType=VARCHAR}, #{auditUserId,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    insert into POSITION_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionAuditId != null">
        position_audit_id,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionAuditId != null">
        #{positionAuditId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    update POSITION_AUDIT
    <set>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    update POSITION_AUDIT
    set position_id = #{positionId,jdbcType=VARCHAR},
      audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectUnauditByid" parameterType="java.lang.String"  resultType="java.lang.Integer">
  	select count(*) from POSITION_AUDIT where position_audit_id=#{id} and result is null
  </select>
  
  <update id="setUnPassById" parameterType="java.lang.String">
  	update POSITION set status = 'reject' where post_id = (select position_id from POSITION_AUDIT where position_audit_id = #{id})
  </update>
  
   <select id="getUnpassOrNullNum" parameterType="java.lang.String"  resultType="java.lang.Integer">
  	select count(*) from POSITION_AUDIT where position_id=(select position_id from POSITION_AUDIT where position_audit_id=#{id}) and (result is null or result=-1)
  </select>
  
  <update id="passById" parameterType="java.lang.String">
  	update POSITION set status = 'audited' where post_id = (select position_id from POSITION_AUDIT where position_audit_id = #{id})
  </update>
  
     <select id="getUntreatedNum" parameterType="java.lang.String"  resultType="java.lang.Integer">
  	select count(*) from POSITION_AUDIT where audit_user_id=#{userId} and result is null
  </select>
  
  
    <select id="getPositionAuditPageList" parameterType="com.codyy.commons.page.Page" resultMap="BaseResultMap">
  	<!-- select 
    p.post_id,
    p.name, 
    p.dep_id,
    p.on_duty,
    p.organization,
    p.vacancy, 
    p.remark,
    p.status,
    p.create_user,
    p.create_time,
    d.name as depname,
    au.username as createusername
    from POSITION p
    left join DEPARTMENT d
     on d.dep_id = p.dep_id
    left join ADMIN_USER au
    on au.user_id = p.create_user	
    where 1=1
    
    <if test="map.createUser != null and map.createUser != ''">
	    and p.create_user = #{map.createUser,jdbcType=VARCHAR}
	</if>
  	<if test="map.name != null and map.name != '' ">
  		and p.name like   concat('%',#{map.name,jdbcType=VARCHAR},'%') 
  	</if>
    <if test="map.depId != null and map.depId != '' ">
    	and p.dep_id = #{map.depId,jdbcType=VARCHAR}
    </if>
    <if test="map.status != null and map.status != '' ">
    	and p.status = #{map.status,jdbcType=VARCHAR}
    </if> -->
    select pa.*,p.name as postName,dep.name as depName,cu.realname as createUserName
    ,au.realname as auditUserName,p.status as postResult
    
    from POSITION_AUDIT pa 
     left join POSITION p on p.post_id = pa.position_id
     left join DEPARTMENT dep on dep.dep_id = p.dep_id
     left join ADMIN_USER cu on pa.create_user_id = cu.user_id
     left join ADMIN_USER au on pa.audit_user_id = au.user_id
     
     where 1=1
     <if test="map.createUserId != null and map.createUserId != '' ">
    	and pa.create_user_id = #{map.createUserId,jdbcType=VARCHAR}
    </if>
    <if test="map.auditUserId != null and map.auditUserId != '' ">
    	and pa.audit_user_id = #{map.auditUserId,jdbcType=VARCHAR}
    </if>
    <if test="map.result != null and map.result != '' and map.result != '0' and map.result != 0 ">
    	and pa.result = #{map.result,jdbcType=VARCHAR}
    </if>
    <if test="map.result == 0 or map.result == '0' ">
    	and pa.result is null
    </if>
    order by pa.create_time desc
  </select>
</mapper>