<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codyy.oc.admin.dao.PositionAuditMapper">
  <resultMap id="BaseResultMap" type="com.codyy.oc.admin.entity.PositionAudit">
    <id column="position_audit_id" jdbcType="VARCHAR" property="positionAuditId" />
    <result column="position_id" jdbcType="VARCHAR" property="positionId" />
    <result column="audit_user_id" jdbcType="VARCHAR" property="auditUserId" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    position_audit_id, position_id, audit_user_id, create_user_id, result, audit_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from POSITION_AUDIT
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from POSITION_AUDIT
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    insert into POSITION_AUDIT (position_audit_id, position_id, audit_user_id, 
      create_user_id, result, audit_time, 
      create_time)
    values (#{positionAuditId,jdbcType=VARCHAR}, #{positionId,jdbcType=VARCHAR}, #{auditUserId,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    insert into POSITION_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionAuditId != null">
        position_audit_id,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionAuditId != null">
        #{positionAuditId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    update POSITION_AUDIT
    <set>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codyy.oc.admin.entity.PositionAudit">
    update POSITION_AUDIT
    set position_id = #{positionId,jdbcType=VARCHAR},
      audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where position_audit_id = #{positionAuditId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectUnauditByid" parameterType="java.lang.String"  resultType="java.lang.Integer">
  	select count(*) from POSITION_AUDIT where position_audit_id=#{id} and result is null
  </select>
  
  <update id="setUnPassById" parameterType="java.lang.String">
  	update POSITION set status = 'reject' where post_id = (select position_id from POSITION_AUDIT where position_audit_id = #{id})
  </update>
  
   <select id="getUnpassOrNullNum" parameterType="java.lang.String"  resultType="java.lang.Integer">
  	select count(*) from POSITION_AUDIT where position_id=(select position_id from POSITION_AUDIT where position_audit_id=#{id}) and (result is null or result=-1)
  </select>
  
  <update id="passById" parameterType="java.lang.String">
  	update POSITION set status = 'audited' where post_id = (select position_id from POSITION_AUDIT where position_audit_id = #{id})
  </update>
  
  
</mapper>